# Ignore configuration files
config.json
.env

# Ignore downloaded audio files
downloads/

# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore log files
bot.log
bot.pid
firebase-debug.log
/.marscode
sesadam.service
